@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index-Home";
}
<div class="text-center text-primary">
    <h1>Welcome to computer net manager!</h1>
    <h2>Author: Kulyk Denys IT-81</h2>
</div>